@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-snow text-shade-100 font-gotu;
}

.spacing-minus-two-perc {
    letter-spacing: -0.02em;
}

::selection {
    @apply bg-primary;
}

ul > li {
    list-style-position: outside;
}

li {
    list-style-type: none;
}

li {
    list-style: none;
}

li:before {
    content: '·';
    vertical-align: middle;
    line-height: 20px;
    @apply text-shade-100 text-[20px] px-2;
}

.timeline-element::-webkit-scrollbar {
    display: none;
}
