@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap') layer(base);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap')
layer(base);

@import 'tailwindcss';
@config "../../tailwind.config.js";

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer components {
    h1 {
        @apply font-quattrocento text-6xl md:text-7xl lg:text-8xl;
    }
}

html,
body {
    @apply bg-snow text-shade-100 font-gotu;
}

.spacing-minus-two-perc {
    letter-spacing: -0.02em;
}

::selection {
    @apply bg-primary;
}

ul > li {
    list-style-position: outside;
}

li {
    list-style-type: none;
}

li {
    list-style: none;
}

li:before {
    content: '·';
    vertical-align: middle;
    line-height: 20px;
    @apply text-shade-100 text-[20px] px-2;
}

.timeline-element::-webkit-scrollbar {
    display: none;
}
